<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="input">
            <h2>What are you looking for?</h2>
            <form action="" method="POST">
                <input type="text" placeholder="Enter here" class="inputbox" name="searchbox">
                <input type="submit" value="Search" class="searchbtn">
            </form>
        </div>
        <script src="script.js"></script>
    </body>
</html>